* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }



.message-area {
    border-top: 1px solid #ccc;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    padding: 10px;
}
.message-area input {
    width: 100%;
    border: 0;
    outline: none;
}